* {
    @import url('https://fonts.googleapis.com/css2?family=Spline+Sans:wght@300..700&display=swap');
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.create {
    width: 60%;
    margin: 0 auto;

    #title_create {
        text-align: center;
        color: #474152;
    }

    form {
        margin-bottom: 40px;

        label {
            display: block;
            font-weight: bold;
            font-size: 20px;
        }

        input {
            width: 100%;
            padding: 10px;
            margin-bottom: 20px;
            border: 1px solid #ccc;
            border-radius: 4px;
        }

        button {
            padding: 14px;
            background-color: #0282F9;
            color: #fff;
            border: none;
            border-radius: 4px;
            cursor: pointer;
            text-transform: uppercase;
        }

    }
}

body {
    background-color: #0097d6;
    font-family: "Spline Sans", sans-serif;

}

h1 {
    text-align: center;
    font-size: 50px;
}